 
/*
body{
    background-color: dimgrey;
}
*/


body{
    background-image: url(https://media.tenor.com/FhiRpY8ZT3sAAAAC/reddit-funny.gif);
    
    background-size: 100% 460%;
    background-repeat: no-repeat;
}

/*
https://media.tenor.com/FhiRpY8ZT3sAAAAC/reddit-funny.gif
https://i.kym-cdn.com/photos/images/original/001/727/132/b5a.jpg
*/